page-list{
    ion-content{
        background-image: url("../assets/images/background.jpg");
        text-align: center;
        justify-content: center;
        .scroll-content{
            padding: 8px !important;
        }
    }

    ion-item{
        background: transparent !important;
        color: #fff;
        margin-top: 30px !important;
    }

    h2, p {
        color: #fff !important;
        font-weight: 200;
    }
    .item-inner{
        border: 0px !important;
    }

    p{  margin: 0 !important;
        padding: 0 !important;
        font-size: 12px !important;
    }

    .toolbar-background-md{
        background: #000000 !important;
        background-color: #000000 !important;
    }
    .toolbar-title{
        color: #fff !important;
    }
    .image-top{
        margin-bottom: 50px;
        margin-top: 35px;
    }
    .span-date{
        position: absolute;
        right: 16px;
    }
    .avatar-image{
        border-radius: 50%;
        border: 1px solid #E5B13A;
        height: 40px;
        width: 40px;
        text-align: center;
        padding-top: 7px !important;   
        font-size: 20px !important;
    }
}